<div id="login-box">
<span style="color:red" class="error" ng-show="loggedInUser.firstname!=undefined">{{error.message}}</span>
<span class="msg" ng-show="error.message!=undefined">{{message}}</span>
<form>
	<table>
		<tr>
			<td>Enter Email:</td>
			<td><input type="email" ng-model="user.email"></td>
		</tr>
		<tr>
			<td>Enter Password:</td>
			<td><input type="password" ng-model="user.password"></td>
		</tr>
		<tr>
			<td>
			<td colspan="2"><input type="submit" ng-click="login(user)"></td>
		</tr>
	</table>
</form>
</div>